﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="icon" type="image/png" href="~/favicon.png" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/javaScript")
</head>
<body>

    <div id="loading"> </div>

    <header class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/Images/logo.png" class="logo-img" alt="" />
                @Html.ActionLink("Trustly Deposit", "Index", "Home", new { area = "" }, new { @class = "navbar-brand logo" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right login-partial">
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right navigation" style="margin-right:20px;">
                    <li onclick="scrollToBanks()"><a href="@Url.Action("Index", "Home",new { Area = ""})#Banks">Banks</a></li>
                    <li onclick="scrollToOffers()"><a href="@Url.Action("Index", "Home",new { Area = ""})#Offers">Best Offers</a></li>
                    <li onclick="scrollToWhyUs()"><a href="@Url.Action("Index", "Home",new { Area = ""})#WhyUs">Why Us?</a></li>
                </ul>

            </div>
        </div>
    </header>
    @*ViewBag.Title == "Trust Deposit | Make Your Dreams Come True With Us!"*@
    @if (ViewBag.Title == "Trust Deposit | Make Your Dreams Come True With Us!")
    {
        <div style="min-height:700px;">
            @RenderBody()
        </div>
    }
    else
    {
        <div style="min-height:700px;padding-top:30px;" class="container">
            <div class="row">
                <div class="col-md-11">
                    @RenderBody()
                </div>
            </div>
        </div>
    }


<footer class="text-center">
    <div class="row " style="text-align:center;">
        <div class="col-xs-12 col-sm-12" style="text-align:center; float:none;">

            <ul class="footer-nav">
                <li>@Html.Partial("_LoginPartial")</li>
                <li onclick="scrollToBanks()"><a href="@Url.Action("Index", "Home")#Banks">Banks</a></li>
                <li onclick="scrollToOffers()"><a href="@Url.Action("Index", "Home")#Offers">Best Offers</a></li>
                <li onclick="scrollToWhyUs()"><a href="@Url.Action("Index", "Home")#WhyUs">Why Us?</a></li>
            </ul>
        </div>
        <div class="hidden-xs col-sm-2"></div>
    </div>
    <div class="row footer">

        <div class="col-lg-4 col-md-4 col-sm-6">Make your dreams come true With Us!</div>
        <div class="col-lg-4 col-md-4 col-sm-6">Contacts: <br /> TDeposit@gmail.com <br />+374(94) 12-45-87</div>
        <div class="col-lg-4 col-md-4 ">Copyright © TrustlyDeposit.com 2017 </div>
    </div>

</footer>

    @RenderSection("scripts", required: false)
</body>
</html>
