﻿@model BankSystem.WebUI.Models.SearchViewModel

@if (!Model.Depositors.Any())
{
    <div class="col-md-11 col-md-offset-1 search-item">
        <div class="row">
            <div class="col-md-12">
                <h3> 0 Results</h3>
            </div>
        </div>
    </div>
}

else
{
    <div class="col-md-11 col-md-offset-1 search-item">
        <div class="row">
            <div class="col-md-12">
                <h3> @Model.Depositors.Count() Results</h3>
            </div>
        </div>
    </div>

    foreach (var item in Model.Depositors.Where(d => d.Deposits.Any()))
    {
        <div class="col-md-11 col-md-offset-1 search-item">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 glyphicon glyphicon-user search-item-img"></div>
                        <div class="col-md-6">
                            <p></p>
                            <h2>@item.Name @item.Surname</h2>
                            <strong>Phone:</strong> @item.PhoneNumber
                            <p><strong>Email:</strong> <a href="http://@item.Email">@item.Email</a>
                            </p>
                        </div>
                        <div class="col-md-12 search-item-deposits">
                            <h3>Deposits</h3>
                            @foreach (var i in item.Deposits)
                            {
                                <pre><a href="http://@i.Bank.WebSite" target="_blank">@i.Bank.Name</a> <strong> @Model.DepositTypes.First(t => t.InterestRate == i.Interest).Name (@i.Interest %)  </strong></pre>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}


