﻿@model BankSystem.WebUI.Models.HomePageViewModel
@{

    ViewBag.Title = "Trust Deposit | Make Your Dreams Come True With Us!";
}

<article>
    <section class="page-head">
        <div class="container">
            <div class="row">
                <div class="col-lg-12"><h1> We Will Take <strong>CARE</strong> About Your Money </h1></div>
            </div>
            <div class="row">
                <div class="col-xs-3 ">
                    <img src="~/Content/Images/bank-icon.png" alt="" />
                </div>
                <div class="col-xs-3">
                    <img src="~/Content/Images/wallet-flat.png" alt="" />
                </div>
                <div class="col-xs-3">
                    <img src="~/Content/Images/calendar-icon.png" alt="" />
                </div>
                <div class="col-xs-3">
                    <img src="~/Content/Images/money_bag.png" alt="" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3"> Find the bank of your dreams</div>
                <div class="col-xs-3"> Trust your money to us</div>
                <div class="col-xs-3 "> Be patient</div>
                <div class="col-xs-3"> Earn money you needed for happiness</div>
            </div>
            <div class="row">
                <a href="@Url.Action("Create","Deposit")" class="deposit-btn top-deposit-btn">Deposit Now</a>
            </div>
        </div>
    </section>

    <div class="search-div">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p> Already @Model.Depositors.Count() Depositors trust us</p>
                    @using (Html.BeginForm("Search", "Home", FormMethod.Get))
                    {
                        <input type="search" name="searchString" value="" placeholder="Search..." id="searchStr" class="" required />
                        <input type="search" name="minValue" value="" placeholder="Starts" id="minval" class="hidden" />
                        <input type="search" name="maxValue" value="" placeholder="Ends" id="maxval" class="hidden" />
                        @Html.DropDownListFor(m => m.DepositTypeName, ViewBag.DepositTypesList as IEnumerable<SelectListItem>, "Select Interest", new { @class = " hidden" })
                        @Html.ValidationMessageFor(model => model.DepositTypeName, "", new { @class = "text-danger" })
                        <span>By</span>
                        <select id="searchFilter" name="searchBy">
                            <option selected>Bank</option>
                            <option>Deposit Type</option>
                            <option>Depositor</option>
                            <option>Amount</option>
                            <option>Date</option>
                        </select>
                        <input type="submit" name="name" value="Find" />

                    }
                </div>
                <a href="@Url.Action("Index","ExtendedSearch", new {  area = ""})" class="btn">Extended Search</a>
                <h4>Our dept to provide full information <br> needed for our clients to grow thair money in safe.</h4>
            </div>
        </div>
    </div>

    <section class="banks" id="Banks_id">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="big-bold-center underlined"> &nbsp;Banks&nbsp;</h1>
                    <h4 style="color:#fff">Choose the Bank where you want to Deposit</h4>
                </div>
            </div>
            <div class="container">
                <div class="row">

                    @foreach (var item in Model.Banks)
                    {
                        <div class="col-md-4">
                            <div class="bank-item " onclick="new function() { $('#bankinfo-@{@item.Id}').toggleClass('hidden'); $('#bankitemimg-@{@item.Id}').toggleClass('hidden'); }">
                                <p id="bankinfo-@item.Id" class="hidden" style="margin:0 auto; font-size:18px; font-weight:bold;">
                                    @item.Name<br />
                                    @item.Address<br />
                                    @item.Email <br />
                                    @item.PhoneNumber <br />

                                    <a href="http://@item.WebSite" target="_blank">http://www.@item.WebSite </a><br />
                                    <a href="@Url.Action("Create","Deposit", new {  area = ""})?bankId=@item.Id">Deposit Now</a>
                                </p>
                                <br />
                                <img src="@item.ImageUrl" id="bankitemimg-@item.Id" alt="" />
                            </div>
                        </div>
    }
                </div>
            </div>
        </div>
    </section>

    <section class="bestoffers" id="Offers_id">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-12 big-bold-center ">
                        <h1 class="big-bold-center underlined">&nbsp;Best Offers&nbsp;</h1>
                        <h4 style="color:#fff">Here they are! The best conditions for your money</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 ">
                    @foreach (var item in Model.DepositTypes)
                    {
                        <div class=" row offer-item">
                            <div class="col-xs-12">
                                <img src="@item.ImageUrl" alt="" />
                            </div>
                            <div class="col-xs-12"> <p>@item.Name</p></div>
                            <div class="col-xs-12"> <p><strong>@item.InterestRate%</strong></p></div>
                            <div class="col-xs-12">
                                <ul>
                                    <li>Period: @item.PeriodInDays days</li>
                                </ul>
                            </div>
                            <div class="col-xs-12"> <a href="@Url.Action("Create", "Deposit", new { area = ""})?interest=@item.InterestRate" class="deposit-btn @item.Name-btn">Deposit</a></div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>

    <section id="WhyUs_id" class="AboutUs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12"><h1 class="big-bold-center"> &nbsp;Why Us?&nbsp;</h1> </div>
                <div class="col-xs-12">
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aenean orci magna, accumsan sit amet mi a, vestibulum convallis ex.
                        Nunc laoreet tincidunt nibh, vitae efficitur diam mattis vel. Fusce nec magna eu ex efficitur maximus.
                        Curabitur egestas metus id massa consectetur, eget molestie mauris tempor. Duis feugiat vehicula auctor.
                        Nunc imperdiet dignissim pellentesque. Vivamus ut mi et eros aliquam fringilla.
                        Ut dignissim metus et felis facilisis, nec fermentum eros congue. Donec accumsan fringilla tortor,
                        non luctus diam consequat eget. Proin eget massa placerat, consequat dui pharetra, aliquet lectus.
                    </p>
                </div>
                <div class="col-xs-12"></div>
            </div>
        </div>
    </section>
</article>
<script>
    $('#searchFilter').change(changeSearchInputs);
    $('#searchFilter').ready(changeSearchInputs);

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}