﻿
@model  BankSystem.WebUI.Models.SearchViewModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@if (ViewBag.SearchBy == "Amount" || ViewBag.SearchBy == "Date")
{
    
    <h2>@Model.Depositors.Count() Results for searching by @ViewBag.SearchBy. Range: @ViewBag.MinVal - @ViewBag.MaxVal</h2>
}
else
{
<h2>@Model.Depositors.Count(d => d.Deposits.Any()) Results for searching <strong>"@ViewBag.SearchString @ViewBag.DepositTypeName"</strong> by @ViewBag.SearchBy </h2>
}
<hr />
<a href="@Url.Action("Index","ExtendedSearch", new {  area = ""})?" class="btn">Extended Search</a>
<hr />
@foreach (var item in Model.Depositors.Where(d=>d.Deposits.Any()))
{ 
    <div class="col-md-11 col-md-offset-1 search-item">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 glyphicon glyphicon-user search-item-img"></div>
                    <div class="col-md-6">
                        <p></p>
                        <h2>@item.Name @item.Surname</h2>
                        <strong>Phone:</strong> @item.PhoneNumber
                        <p><strong>Email:</strong> <a href="http://@item.Email">@item.Email</a></p>
                    </div>
                    <div class="col-md-12 search-item-deposits">
                        <h3>Deposits</h3>
                        @foreach (var i in item.Deposits)
                        {
                            <pre><a href="http://@i.Bank.WebSite" target="_blank">@i.Bank.Name</a> <strong> @Model.DepositTypes.First(t=>t.InterestRate == i.Interest).Name (@i.Interest %)  </strong></pre>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
