﻿@model BankSystem.WebUI.Areas.Admin.Models.DepositorViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Depositors</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsBlocked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassportID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.Depositors)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsBlocked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassportID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AccessFailedCount)
            </td>

            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
               @if (item.IsBlocked){ @Html.ActionLink("Reinstate", "Reinstate", new { id = item.Id })}
               else { @Html.ActionLink("Block", "Block", new { id = item.Id })}
            </td>
        </tr>
    }

</table>
