﻿@model BankSystem.WebUI.Areas.Admin.Models.DepositViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var x = 0;
}

<h2>Deposits</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
          
        </th>
        <th>
            Bank
        </th>
        <th>
            Depositor
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Money)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsValid)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Deposits)
    {
        x++;
        <tr>
            <td>                
                <strong> @x </strong>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bank.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depositor.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Money)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsValid)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
               @if (item.IsValid){ @Html.ActionLink("Freeze", "Freeze", new { id = item.Id }) }
               else { @Html.ActionLink("Reinstate", "Reinstate", new { id = item.Id })} 
                
            </td>
        </tr>
    }

</table>
