﻿@model BankSystem.WebUI.Models.ExtendedSearchViewModel
@{
    ViewBag.Title = "ExtendedSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ExtendedSearch</h2>
<hr />
<div class="container ex-search">
    <div class="row">
        <div class="col-xs-12">
            @using (Ajax.BeginForm("ExtendedSearchPartial", "ExtendedSearch", new { area = "" },
                new AjaxOptions
                {
                    HttpMethod = "GET",
                    UpdateTargetId = "exSearchResult",
                    LoadingElementId = "loading"
                }))
            {
                <div class="col-xs-4">
                    <input type="search" name="bank" value="" placeholder="Bank..." id="bank" class="form-control inline-block " />
                    <input type="search" name="depositor" value="" placeholder="Depositor..." id="depositor" class="form-control inline-block " />
                    @Html.DropDownListFor(m => m.DepositTypeName, ViewBag.DepositTypesList as IEnumerable<SelectListItem>, "Select Interest", new { @class = "form-control inline-block" })
                </div>
                <div class="col-xs-4">
                    <label>Amount</label>
                    <input type="number" name="minAmount" value="" placeholder="from" id="minAmount" class="form-control inline-block " />
                    <input type="number" name="maxAmount" value="" placeholder="to" id="maxAmount" class="form-control inline-block " />

                </div>
                <div class="col-xs-4">
                    <label>Date</label>
                    <input type="date" name="firstDate" value="" placeholder="yyyy/mm/dd" id="firstDate" pattern="\d{4}-\d{1,2}-\d{1,2}" class="form-control inline-block " />
                    <input type="date" name="lastDate" value="" placeholder="yyyy/mm/dd" id="lastDate" pattern="\d{4}-\d{1,2}-\d{1,2}" class="form-control inline-block " />
                </div>
                <input type="submit" value="Find" class="btn btn-success" />
            }
        </div>
    </div>
</div>

<div id="exSearchResult" style="margin-top:100px;"></div>

<div id="loading" style="display:none"> </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}