﻿
@{
    ViewBag.Title = "Blocked";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="color:#c70000;">You are Blocked</h3>
<a href='@Url.Action("Index", "Home", new { area = "" })'>Go Home</a>
