﻿@model BankSystem.WebUI.Models.DepositViewModel

@{
    ViewBag.Title = "Add Deposit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="big-bold-center">Add Deposit</h2>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 ">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="control-label col-md-3">Bank</label>
                        <div class="col-md-5">
                            @Html.DropDownListFor(m => m.BankId, ViewBag.BanksList as IEnumerable<SelectListItem>, "Select Bank", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BankId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group"> 
                        <div class="col-md-5">
                            @Html.HiddenFor(m => m.DepositorId, new { hidden = "hidden", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Interest</label>
                        <div class="col-md-5">
                            @Html.DropDownListFor(m => m.DepositTypeInterest, ViewBag.DepositTypesList as IEnumerable<SelectListItem>, "Select Interest", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DepositTypeInterest, "", new { @class = "text-danger" })
                        </div>
                    </div>                   

                    <div class="form-group">
                        @Html.LabelFor(model => model.Money, new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Money, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Money, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-5">
                            <input type="submit" value="Deposit Now" class="btn btn-success" />
                            <a href="#" onclick="showCalculator()" style="float:right;">Calculate</a>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

<div style="background-color:#ffffff;padding:20px 80px; border-radius:15px;" id="messagebox">
    <p style="font-size:20px; text-align:center;">Calculate your earnings before deposit </p>
    @using (Ajax.BeginForm("CalculateProfit", "Deposit", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "calcResult" }))
    {
        <div class="form-group">
            <div>
                <input type="number" name="money" placeholder="Money" class="form-control"  required/>
                @Html.ValidationMessage("money", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div>
                @Html.DropDownListFor(m => m.DepositTypeInterest, ViewBag.DepositTypesList as IEnumerable<SelectListItem>, "Select Interest", new { @class = "form-control" ,@required ="" })
                @Html.ValidationMessageFor(model => model.DepositTypeInterest, "", new { @class = "text-danger" })
            </div>
        </div>
                    <div class="form-group">
                        <div>
                            <input type="number" name="period" placeholder="Period" class="form-control" required />
                            @Html.ValidationMessage("period", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <input type="submit" value="Calculate" class="btn btn-info" />
                            <div id="calcResult"></div>
                        </div>
                    </div>
    }
</div>

<script>
    $(document).ready(showCalculator());
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

