﻿@model BankSystem.Domain.Entities.Deposit 
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>Success</h2>

            <h1>Congratulations, Now You are the part of Us! :) </h1>
            <div style="background-color:#fff; padding: 10px; border-radius: 10px;">
                <dl>
                    <dt>Your Deposit starts at: </dt>
                    <dd>@Model.StartDate</dd>

                    <dt>Ends: </dt>
                    <dd> @Model.EndDate </dd>

                    <dt>Money: </dt>
                    <dd>@Model.Money</dd>

                    <dt>Interest: </dt>
                    <dd>@Model.Interest</dd>
                    </dl>
                </div>
           
           <h4> @Html.ActionLink("Click to Go Home", "Index", "Home", new { area = "" }, "")</h4>
        </div>
    </div>
</div>