﻿@model BankSystem.WebUI.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    var x = 0;
}

<div class="container profile-container">
    <div class="row">
        <div class="col-lg-3">

            <img src="~/Content/Images/User.png" />
        </div>
        <div class="col-lg-5">
            <h1>@Model.Name @Model.Surname</h1>
                        
            <p><strong>Phone Number:</strong> @Model.PhoneNumber</p>
            <p><strong>Email:</strong> @User.Identity.Name  </p>
            
        </div>
        <div class="col-lg-4" style="background-color:#efefef; margin-top:5px;border-right:20px solid #dddddd;">

            <p class="text-success">@ViewBag.StatusMessage</p>
            <div>
                <dl class="dl-horizontal">

                    @if (User.IsInRole("Admin"))
                    {
                        <dt>Manage Banks:</dt>
                        <dd>@Html.ActionLink("Manage", "Index", "Bank", new { Area = "Admin" }, new { })</dd>
                        <dt>Manage Deposits:</dt>
                        <dd>@Html.ActionLink("Manage", "Index", "Deposit", new { Area = "Admin" }, new { })</dd>
                        <dt>Manage Depositors:</dt>
                        <dd>@Html.ActionLink("Manage", "Index", "Depositor", new { Area = "Admin" }, new { })</dd>
                        <hr />
                    }

                    <dt>Password:</dt>
                    <dd>

                        @if (Model.HasPassword)
            {
                            @Html.ActionLink("Change your password", "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink("Create", "SetPassword")
                        }

                    </dd>
                    <dt>External Logins:</dt>
                    <dd>
                        @Model.Logins.Count
                        @Html.ActionLink("Manage", "ManageLogins")
                    </dd>
                    @*
                        Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                         See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                            for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                         Uncomment the following block after you have set up two-factor authentication
                    *@

                    <dt>Phone Number:</dt>
                    <dd>
                        @if (Model.PhoneNumber != null)
                        {
                            <text>&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;</text>
                            using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", style = "display:inline;" }))
                            {
                                @Html.AntiForgeryToken()
                                <text><input type="submit" value="Remove" class="btn-link" /></text>
                            }
                        }
                        else
                        {
                            <text>&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber") </text>
                        }
                    </dd>

                    <dt>Two-Factor Authentication:</dt>
                    <dd>
                        @if (Model.TwoFactor)
                        {
                            using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>Enabled
                                    <input type="submit" value="Disable" class="btn btn-link" />
                                </text>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>Disabled
                                    <input type="submit" value="Enable" class="btn btn-link" />
                                </text>
                            }
                        }
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <hr />
    <div class="row ">
        <div class="col-xs-12 text-center"><h2>Deposits</h2></div>
        <div class="col-xs-8 col-md-offset-2">
            @foreach (var i in Model.Deposits.Where(d=>d.Depositor.Id == Model.UserId))
            {
                x++;
                <p class="search-item">
                    <strong>@x. </strong><a href="http://@i.Bank.WebSite">@i.Bank.Name</a> - @Model.DepositTypes.First(t=>t.InterestRate == i.Interest).Name (@i.Interest %)
                </p>
                
            }

        </div>
    </div>
    <div class="row">

    </div>
</div>

