﻿@model BankSystem.WebUI.Areas.Admin.Models.BankViewModel

@{
    ViewBag.Title = "Delete Bank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        @if (Model.Deposits.Count() > 0)
        {
            <h3>You Can Not Delete Bank, which have Deposits</h3>
           
            @Html.ActionLink("Go Back","Index", "Bank", new { area = "Admin"}, new {@class = "btn btn-success"});
            <hr />
            <h3> But you can still Disable It </h3>
            @Html.ActionLink("Disable", "Disable", "Bank", new { area = "Admin", id = Model.Id }, new { @class = "btn btn-danger" });

        }
        else
        {
        <div class="col-md-12">

            <h2>Delete</h2>

            <h3>Are you sure you want to Delete this Bank?</h3>
            <div>                
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ImageUrl)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ImageUrl)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.WebSite)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.WebSite)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                    <hr />
                }

            </div>
        </div>
        }
    </div>
</div>