﻿@model BankSystem.WebUI.Areas.Admin.Models.BankViewModel

@{
    ViewBag.Title = "Bank Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h2>Details</h2>

            <div>
                <h4>Bank</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ImageUrl)
                    </dt>
                    
                    <dd>
                        <img src="@Model.ImageUrl" alt="@Model.Name" style="background-color:#fff; padding: 10px; border-radius: 5px;" />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.WebSite)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.WebSite)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
            <hr />
        </div>
    </div>
</div>