﻿@model BankSystem.WebUI.Areas.Admin.Models.BankViewModel

@{
    ViewBag.Title = "Banks Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h2>Banks Manager</h2>

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IsAble)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ImageUrl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WebSite)
                    </th>
                    
                    <th></th>
                </tr>

                @foreach (var item in Model.Banks)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsAble)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <img  style="max-width:100px;"  src="@item.ImageUrl"  alt="@item.ImageUrl"/>
                            @*@Html.DisplayFor(modelItem => item.ImageUrl)*@
                        </td>
                        <td>
                            <a href="http://@item.WebSite" target="_blank">@Html.DisplayFor(modelItem => item.WebSite)</a>
                        </td>
                        <td style=" background-color:#eeeeee;">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @if (item.IsAble == true){@Html.ActionLink("Disable", "Disable", new { id = item.Id }) }
                            else {@Html.ActionLink("Reinstate", "Reinstate", new { id = item.Id }) } |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                        
                    </tr>
                }

            </table>
            <hr />
        </div>
    </div>
</div>