﻿
.profile-container{
    margin-top:50px;
    border:1px solid #bdbdbd;
    border-radius:5px;
    background-color:#dddddd;
}
.profile-container div {
    padding-top:10px;
}

    .profile-container>div>div:nth-of-type(1) img {
        max-width: 250px;
        margin: 30px;
        margin-top: 0px;
        border: 15px solid #005c4a;
        background-color:white;
    }
    .profile-container h1 {
        margin:10px;
        
        margin-bottom:10px;
        font-size:50px;
        font-weight:bold;
        color:#2c3e50;
    }
   
    .profile-container p {
        margin-top:0px;
        padding:10px 10px;
    }