﻿body {
    padding-top: 100px;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #efefef;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a {
    text-decoration: none !important;
    transition: 0.2s ease-in;
}

.inline-block {
    display: inline-block !important;
}

.logo-img {
    float: left;
    max-width: 100px;
    margin-top: -20px;
}

#loading {
    background: url('Images/loading.png') no-repeat center;
    background-size: cover;
    height: 80px;
    width: 80px;
    position: fixed;
    left: 50%;
    top: 50%;
    opacity: 0.7;
    z-index: 4000;
    margin: -25px 0 0 -25px;
    animation: loading 1s ease-in-out infinite;
}

@keyframes loading {

    100% {
        transform: rotate(360deg);
    }
}

header {
    background-color: #2c3e50 !important;
    height: 100px;
    padding-top: 20px;
}

    header > div > div > div:nth-of-type(2) {
        background-color: #2c3e50 !important;
        overflow-x: hidden;
        padding-left: 50px;
        padding-right: 50px;
    }

.big-bold-center {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.deposit-btn {
    text-decoration: none;
    padding: 15px 70px;
    font-size: 23px;
    color: white;
    background-color: #2c3e50;
    border-radius: 3px;
    line-height: 100px;
    transition: 0.3s ease-in;
}

.top-deposit-btn {
    background-color: rgba(75, 204, 179, 0.79);
    border-radius: 6px;
    border: 1px solid #f3f3f3;
    animation: depo-button 2s 1;
}

@keyframes depo-button {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.deposit-btn:hover {
    color: white !important;
    background-color:transparent;
}

.underlined {
    display: inline-block;
    border-bottom: 1px solid white;
}

#calcResult {
    color: #000;
    float: right;
    min-width: 150px;
    min-height: 30px;
    margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: #eeeeee;
}

.logo {
    font-size: 35px;
    font-weight: 900;
    color: white !important;
}

@media screen and (max-width:1000px) {
    .logo {
        font-size: 20px;
    }
}

.navigation a {
    color: white !important;
    font-size: 110%;
    font-weight: 600;
}

    .navigation a:hover {
        color: #4bccb3 !important;
    }

.login-partial {
    padding: 5px;
    padding-right: 20px;
    background-color: #ffd800;
    border-radius: 5px;
    margin-bottom: 15px;
}

    .login-partial a {
        color: #000 !important;
    }


.page-head {
    width: 100%;
    min-height: 600px;
    background-image: url('Images/sky.jpg');
    background-attachment: fixed;
    background-position: left bottom;
    animation: ph 200s ease-out infinite;
}

@keyframes ph {
    50% {
        background-position: right bottom;
    }
}

.page-head div {
    text-align: center;
}

.page-head img {
    margin-top: 40px;
    max-width: 80%;
    animation: ph-img 0.5s ease-in-out 1;
}

@keyframes ph-img {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.page-head > div {
    padding-top: 80px;
}

    .page-head > div > div:nth-of-type(1) {
        color: #fff;
        padding-bottom: 10px;
        border-bottom: 2px solid;
    }

    .page-head > div > div:nth-of-type(3) {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        padding-top: 10px;
        margin-bottom: 30px;
        animation: ph-t 200s linear infinite;
    }


    .page-head > div > div:nth-of-type(4) {
        margin-bottom: 20px;
    }

.collapse-p {
    display: block !important;
}

.search-div {
    width: 100%;
    text-align: center;
    background-color: #ffffff;
}

    .search-div div {
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 30px;
    }

    .search-div input[type=search], .search-div input[type=number], .search-div input[type=date] {
        height: 50px;
        max-width: 20%;
        padding: 0 10px;
        border: 1px solid rgba(44, 62, 80, 0.59);
        border-radius: 3px;
        font-style: italic;
        font-size: 20px;
    }

        .search-div input[type=search]:nth-of-type(1) {
            height: 50px;
            min-width: 40%;
            padding: 0 10px;
            border: 1px solid rgba(44, 62, 80, 0.59);
            border-radius: 3px;
            font-style: italic;
            font-size: 20px;
        }


        .search-div input[type=search]:focus {
            font-style: normal;
        }

    .search-div input[type=submit] {
        height: 50px;
        width: 150px;
        font-size: 20px;
        color: white;
        border: none;
        border-radius: 3px;
        background-color: rgba(44, 62, 80, 0.59);
        transition: 0.1s ease-in-out;
    }

        .search-div input[type=submit]:hover {
            background-color: #4bccb3;
        }

    .search-div select {
        height: 50px;
        padding-top: 0px;
        font-size: 20px;
        border: 1px solid rgba(44, 62, 80, 0.59);
        border-radius: 3px;
    }

        .search-div select:nth-of-type(1) {
            display: inline-block;
            min-width: 40%;
            padding: 6px 12px;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid rgba(44, 62, 80, 0.59);
            border-radius: 4px;
        }




    .search-div p {
        font-size: 25px;
    }

    .search-div span {
        font-size: 17px;
        padding: 0 10px 0 0;
    }

.ex-search {
    
    background-color:#dddddd;
    padding:20px;
    border-radius: 10px;
}
.ex-search input, .ex-search select {
    margin:10px 0;
    min-width:100%;
}

.banks {
    min-height: 800px;
    height: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #239291;
    border-bottom: 100px solid rgb(84, 119, 154);
}

    .banks h1 {
        margin-top: 40px;
        margin-bottom: 30px;
        color: #ffffff;
    }


.bank-item {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-align: center;
    width: 320px;
    height: 200px;
    margin: 10px;
    padding: 15px;
    border: 10px solid #4db9a4;
    background-color: #f8f8f8;
    transition: 0.2s ease-in-out;
}

    .bank-item:hover {
        opacity: 0.9;
    }

    .bank-item img {
        display: block;
        margin: 0 auto;
        min-width: 60%;
        max-width: 100%;
    }

    .bank-item p {
        margin: 0;
        padding: 0;
        display: block;
    }

    .bank-item > p > a:nth-last-of-type(1) {
        color: white;
        margin-top: 5px;
        padding: 5px 20px;
        border-radius: 2px;
        background-color: #ffd800;
        line-height: 40px;
    }

.bestoffers {
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('Images/sky.jpg');
    background-size: cover;
    background-attachment: fixed;
}

    .bestoffers h1 {
        color: #f2f2f2;
    }

    .bestoffers > div > div:nth-of-type(2) > div {
        margin-top: 40px;
    }

.offer-item {
    display: inline-block;
    height: 500px;
    width: 300px;
    margin: 30px;
    padding: 10px;
    background-color: rgba(44, 62, 80, 0.59);
    border-radius: 10px;
}

    .offer-item img {
        display: inline;
        max-width: 100%;
    }

    .offer-item p {
        font-size: 34px;
        color: #ffd800;
    }

    .offer-item ul {
        padding: 0;
        list-style-type: none;
        font-size: 16px;
        color: #fff;
    }

.Family-btn {
    background-color: #e4c100;
}

.AboutUs {
    min-height: 700px;
    background-color: #f2f2f2;
}

    .AboutUs div {
        width: 900px;
    }

    .AboutUs h1 {
        margin-top: 50px;
    }

    .AboutUs p {
        margin-top: 70px;
        font-size: 20px;
        margin-bottom: 70px;
    }

footer {
    background-color: #2c3e50;
    width: 100%;
}

    footer a {
        text-decoration: none !important;
        font-weight: bold;
        font-size: 15px;
        background-color: transparent !important;
    }

        footer a:hover {
            color: #4bccb3 !important;
        }

.footer {
    display: flex;
    align-items: center;
    height: 130px;
    color: #fff;
}

.footer-nav {
    display: inline-block !important;
    list-style-type: none;
}

    .footer-nav li {
        float: left !important;
        display: block;
        margin-right: 40px;
    }

        .footer-nav li ul li a {
            margin: 0;
            padding: 0;
            color: #ffd800 !important;
        }


footer > div > div {
    text-align: center;
}

footer > div:nth-of-type(1) {
    text-align: center;
    padding-top: 30px;
}


.search-item {
    background-color: #ffffff;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 10px 20px;
}

.search-item-img {
    background-position: center;
    width: 250px;
    height: 200px;
    margin: 10px 30px;
    font-size: 200px;
}

.search-item-deposits {
    height: 200px;
    overflow: auto;
    background-color: rgba(152, 173, 194, 0.59);
    border-radius: 10px;
}

    .search-item-deposits pre {
        font-size: 16px;
    }
